body {
  margin: 0;
  font-size: 13px;
  background-color: #F9F9F9;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
